VITE_SUPABASE_URL=https://eqfwdcttvnnrakyaacjm.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_95GXQ_XVGnvolLedkrIsLA_YJZ0gx4O
VITE_APP_URL=https://YOUR_GITHUB_USER.github.io/YOUR_REPOSITORY/
